body {
  margin: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background: var(--background-color-header);
  color: #193251;
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

img {
  width: 30px;
}
