* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}
h1 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
